
body{
  text-align: center;
}

.ticketOptionsBox{
  margin-top: 1rem;
  padding: 0.5rem;
  width: 90%;
  border: 1px solid #FFF;
  border-radius: 0.2rem;
  background-color: #EBEBEB;
}

.citySelectBox{
  margin-top: 1rem;
}

.dateSelectBox{
  margin-top: 1rem;
}

.oneOptionButtonBig{
  width: 90%;
  margin-top: 1rem;
}

.unselectedButton{
  background-color: grey;
}

.seeBack{
  background-color: red
}
