
body{
  text-align: center;
  font-family: sans-serif;
}

.appNameBar{
  font-family: fantasy;
  font-size: 2.5rem;
}

.ticketOptionsBox{
  margin-top: 1rem;
  padding: 0.5rem;
  width: 90%;
  border: 1px solid #FFF;
  border-radius: 0.2rem;
  background-color: #EBEBEB;
}

.citySelectBox{
  margin-top: 1rem;
}
.cityInputBox{
  width: 80%;
}
.cityArrow{
  margin-top: 1.2rem;
  font-size: 3rem;
}

.dateSelectBox{
  margin-top: 1rem;
}

.oneOptionButtonBig{
  width: 90%;
  margin-top: 1rem;
  border-color: #FFF;
  background-color: #0091FF;
}

.searchButton{
  width: 80%;
  margin-top: 1rem;
  border-color: #FFF;
  background-color: #0091FF;
}

.unselectedButton{
  background-color: #65BDFF;
}


.ticketsDisplayBox{
  margin-top: 1rem;
  padding: 0.5rem;
  width: 90%;
  border: 1px solid #FFF;
  border-radius: 0.2rem;
  background-color: white;
}

.ticketBox{
  width: 80%;
  margin-left: 10%;
  margin-top: 0.5rem;
  border-style: solid;
  border-radius: 0.3rem;
  border-color: #B0B0B0;
}

.ticketButtonBox{
  text-decoration: none;
}

.ticketCity{
  font-size: 1.5rem;
}

.ticketArrow{
  font-size: 1.5rem;
}

.ticketPrice{
  font-size: 1.6rem;
}

.passengersSelectBox{
  margin-top: 2rem;
}

.passengerInputBox{
  font-size: 2.5rem;
  width: 85%;
}

.seeBack{
  background-color: red;
}
