
body{
  text-align: center;
}

.ticketOptionsBox{
  margin-top: 1rem;
  padding: 0.5rem;
  width: 90%;
  border: 1px solid #FFF;
  border-radius: 0.2rem;
  background-color: #EBEBEB;
}

.citySelectBox{
  margin-top: 1rem;
}

.dateSelectBox{
  margin-top: 1rem;
}

.oneOptionButtonBig{
  width: 90%;
  margin-top: 1rem;
  border-color: #FFF;
  background-color: #0091FF;
}

.searchButton{
  width: 80%;
  margin-top: 1rem;
  border-color: #FFF;
  background-color: #0091FF;
}

.unselectedButton{
  background-color: #65BDFF;
}

.seeBack{
  background-color: red
}
